services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: bigdata_project
    volumes:
      - mongodb_data:/data/db
    networks:
      - bigdata-network

volumes:
  mongodb_data:
    driver: local

networks:
  bigdata-network:
    driver: bridge
